```text
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
.idea/
*.iws
*.iml
*.ipr
.mvn/
mvnw
mvnw.cmd
.DS_Store
*.class
*.log
*.lock